Repository ChainSafe/engineering-handbook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morrigan, @mpetrunic, @kalambet, @q9f, @qdm12, @dapplion, @jdevcs, @nazarhussain, @wemeetagain, @beroburny, @ivanceras

Add solutions section (#35)
  dictionary.txt
  docs/1_start-here/departments/solutions.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

Add typescript lint section (#34)
  docs/2_development/2_tech-stack/Typescript/readme.md
Owners: @dapplion, @jdevcs, @nazarhussain, @wemeetagain, @beroburny

add consulting section
  .gitignore
  dictionary.txt
  docs/1_start-here/departments/consulting.md
  docs/1_start-here/departments/index.md
  docs/1_start-here/departments/solutions.md
  docs/1_start-here/organisation.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

fix icons
  .gitignore
  docs/1_start-here/departments/solutions.md
  docs/2_development/1_development-flow/1_setup_repository.md
  docs/2_development/1_development-flow/2_development.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

remove vetted libraries section
  docs/2_development/2_tech-stack/Typescript/readme.md
  docs/2_development/2_tech-stack/go.md
  docs/2_development/2_tech-stack/rust.md
Owners: @dapplion, @jdevcs, @nazarhussain, @wemeetagain, @beroburny, @qdm12, @ivanceras

hide wip pages, merge release configuration
  docs/2_development/1_development-flow/release/go.md
  docs/2_development/1_development-flow/release/index.md
  docs/2_development/1_development-flow/release/rust_crates.md
  docs/2_development/2_tech-stack/Typescript/frontend.md
  docs/2_development/2_tech-stack/Typescript/readme.md
  docs/2_development/2_tech-stack/typescript.md
  docs/2_development/2_tech-stack/unity.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f, @dapplion, @jdevcs, @nazarhussain, @wemeetagain, @beroburny

remove vetted libraries section (#58)
  docs/2_development/2_tech-stack/Typescript/readme.md
  docs/2_development/2_tech-stack/go.md
  docs/2_development/2_tech-stack/rust.md
Owners: @dapplion, @jdevcs, @nazarhussain, @wemeetagain, @beroburny, @qdm12, @ivanceras

hide wip pages, merge release configuration (#60)
  docs/2_development/1_development-flow/release/go.md
  docs/2_development/1_development-flow/release/index.md
  docs/2_development/1_development-flow/release/rust_crates.md
  docs/2_development/2_tech-stack/Typescript/frontend.md
  docs/2_development/2_tech-stack/Typescript/readme.md
  docs/2_development/2_tech-stack/typescript.md
  docs/2_development/2_tech-stack/unity.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f, @dapplion, @jdevcs, @nazarhussain, @wemeetagain, @beroburny

chore(tech-stack): auto-format go.md
  docs/2_development/2_tech-stack/go.md
Owners: @qdm12

chore(tech-stack): auto-format go.md (#61)
  docs/2_development/2_tech-stack/go.md
Owners: @qdm12

Tech stack: Go: add `Panic` section
  docs/2_development/2_tech-stack/go.md
Owners: @qdm12

fix icons (#57)
  .gitignore
  docs/1_start-here/departments/solutions.md
  docs/2_development/1_development-flow/1_setup_repository.md
  docs/2_development/1_development-flow/2_development.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

add consulting section (#56)
  dictionary.txt
  docs/1_start-here/departments/consulting.md
  docs/1_start-here/departments/index.md
  docs/1_start-here/departments/solutions.md
  docs/1_start-here/organisation.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

feat: add typescript ci
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

fix: ordering
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

feat: typescript IDE
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

fix: spellcheck
  dictionary.txt
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

add general products overview
  .gitignore
  dictionary.txt
  docs/1_start-here/departments/product.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

add links
  docs/1_start-here/departments/product.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

add QA section and information
  docs/2_development/3_quality_assurance/_category_.yml
  docs/2_development/3_quality_assurance/qa-principles.md
  docs/2_development/3_quality_assurance/test-plan-guidelines.md
  docs/2_development/4_documentation.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

minor syntax amendments
  docs/2_development/3_quality_assurance/qa-principles.md
  docs/2_development/3_quality_assurance/test-plan-guidelines.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

Add QA section and information (#67)
  docs/2_development/3_quality_assurance/_category_.yml
  docs/2_development/3_quality_assurance/qa-principles.md
  docs/2_development/3_quality_assurance/test-plan-guidelines.md
  docs/2_development/4_documentation.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

add general products overview (#66)
  .gitignore
  dictionary.txt
  docs/1_start-here/departments/product.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

Typescript ide (#65)
  dictionary.txt
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

feat: add typescript ci (#64)
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

Tech stack: Go: add `Panic` section (#63)
  docs/2_development/2_tech-stack/go.md
Owners: @qdm12

add revert note
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

fix spelling
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

NPM revert (#68)
  docs/2_development/2_tech-stack/typescript.md
Owners: @morrigan, @mpetrunic, @kalambet, @q9f

.github/CODEOWNERS:

* @morrigan @mpetrunic @kalambet @q9f

/docs/2_development/2_tech-stack/go.md @qdm12

/docs/2_development/2_tech-stack/Typescript/readme.md @dapplion @jdevcs @nazarhussain @wemeetagain @beroburny

/docs/2_development/2_tech-stack/rust.md @ivanceras
